@media (min-width: 450px) {
    .input{
        font-size: 24px;
        border: 2px solid #6236FF;
        border-radius: 6px;
        width: 38vw;
        height: 80px;
        margin-top:10px;
    }
}
.errorTrue{
    border-Color: red;
}
@media (max-width: 449px) {
    .input{
        font-size: 24px;
        border: 2px solid #6236FF;
        border-radius: 6px;
        width: 180px;
        height: 80px;
        margin-top:10px;
    }
}
@media (min-width: 449px) {
    .input:focus + span,input:valid + span{
        top:-45px;
        right: 37vw;
    }
    }
    
@media (max-width: 449px) {
    .input:focus + span,input:valid + span{
        top:-80px;
        right: 0px;
    }
    }
.input:focus{
    outline: none;
}

@media (min-width: 450px) {
.span{
    font-size: 24px;
    padding: 0;
    position: relative;
    top: 1px;
    right: 37vw;
    transform: translateY(-50%);
    transition:0.2s;
    background-color: white;
    pointer-events:none;
}
}
@media (max-width: 449px) {
    .span{
        display:block;
        width:160px;
        font-size: 24px;
        position: relative;
        top: -45px;
        right: -5vw;
        transform: translateY(-50%);
        transition:0.2s;
        background-color: white;
        pointer-events:none;
    }
    }

.label{
    font-size: 24px;
    position:absolute;
    margin-left:25px;
    margin-top:-20px;
}

.disappear{
    display:none;
}